@model IEnumerable<Sessao>

@{
    ViewData["Title"] = "Gestão das Sessões";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>@ViewData["Title"]</h1>
                <br/><br/>
                <div id="lista">
                    <partial name="ListaSessoes" model="Model"/>
                </div>
            </div>
            <div class="col-lg" id="SessaoForm">
                @await Html.PartialAsync("AdicionarSessao", new Sessao())
            </div>
        </div>
    </div>
</div>

<script>
    function MudarForm () {
        fetch('@Url.Action("ListaSessoes")')
          .then(response => response.text())
          .then(data => {
            document.querySelector('#lista').innerHTML = data;
            alert("Sessões atualizadas!");
          });
    }
</script>